<div class="radarChart">
  <div class="radarChartDescription">
    <p>This chart shows the percent of correctly answered multiplication questions with the given number </p>
  </div>
</div>

<script>
  // Set-Up
  var margin = {top: 100, right: 100, bottom: 100, left: 100},
    width = Math.min(700, window.innerWidth - 10) - margin.left - margin.right,
    height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 20);

  // Data
  var data = [
        [//match 1
        <% 8.times do |num| %>
        <% p "$" * 500 %>
        <% p user %>
          <% val = User.find(1).percent('correct', skill, "#{num} times table", 1)%>
          {axis:<%= num %>,value:<%= val %>},
        <% end %>
        {axis:"9",value:<%= User.find(1).percent('correct', skill, "9 times table", 1)%>}
        ],
        [//match 2
        <% 8.times do |num| %>
          <% val = User.find(2).percent('correct', skill, "#{num} times table", 2)%>
          {axis:<%= num %>,value:<%= val %>},
        <% end %>
        {axis:"9",value:<%= User.find(2).percent('correct', skill, "9 times table", 2)%>}
        ]
      ];

  // Draw the Chart
  var color = d3.scaleOrdinal()
    .range(["#EDC951","#CC333F","#00A0B0"]);

  var radarChartOptions = {
    w: width,
    h: height,
    margin: margin,
    maxValue: 0.5,
    levels: 5,
    roundStrokes: true,
    color: color
  };
  //Call function to draw the Radar chart
  RadarChart(".radarChart", data, radarChartOptions);
</script>
