<!-- <div class='game-info-container'>
  <div class='game-info display'></div>
</div>
<div class="game-stats display"></div> -->

<div class="game-show">
  <h1>Welcome to <%= @game.name %></h1>
  <div class="game-directions game-info">
    <h2>Directions</h2>
    <p>
      <% @game.directions.split('.').each do |direction| %>
        <%= direction %><br>
      <% end %>
    </p>
  </div>

  <div class="player-info">
    <div class="player1-info">
      <div class="player1-character game-info">
        <h2>Player One</h2>
        <%= @game.player1_character %>
      </div>

      <div class="player1-controls game-info">
        <h2>Player One Controls</h2>
        <% @game.player1_controls.split(',').each do |move| %>
          <%= move %><br>
        <% end %>
      </div>
    </div>

    <div class="player2-info">
      <div class="player2-character game-info">
        <h2>Player Two</h2>
        <%= @game.player2_character %>
      </div>

      <div class="player2-controls game-info">
        <h2>Player Two Controls</h2>
        <% @game.player2_controls.split(',').each do |move| %>
          <%= move %><br>
        <% end %>
      </div>
    </div>
  </div>


  <% if @game.id == 1 %>
    <div class="spacer"></div>
    <div id='equation_text_div'>Frogger</div>
    <div id='frogger'>
    <select id='mode'>
      <option value='none'>Select Mode</option>
      <option value="addition">Addition</option>
      <option value="subtraction">Subtraction</option>
      <option value="multiplication">Multiplication</option>
      <option value="division">Division</option>
      <option value='all'>All</option>
    </select>
    <br>


    <button id='frogger-button' class='game-start-button'>start</button></div>

  <% elsif @game.id == 2 %>
    <div class="spacer"></div>
    <div id='flappy-bird'>
      <button id='flappy-button' class='game-start-button'>start</button>
    </div>

  <% elsif @game.id == 3 %>
    <div class="invasion-questions"></div>
    <div id='invasion'></div>
  <% end %>
  <script type="text/javascript" src="<%= @game.src %>"></script>

  <button id='hidden_match_button'>
      <a href='/matches/<%= @match_id %>'>Match Results</a>
  </button>
</div>
