<p>this is match show</p>


<% @match.results.each do |result| %>


<div class='frogger-user-results-div'>

<h1><%= result.user.username %></h1>
  <table class='frogger-results-table correct-answers'>

      <tr>
        <th colspan='3'>Correct answers</th>
      </tr>
      <tr class='skill-header'>
      <td>Skill Type</td><td>Sub Skill</td><td>Count</td>
      </tr>
      <% vals = {} %>
      <% result.sub_skills.each do |skill| %>
        <% if skill.correct == 1 %>
            <% vals[[skill.name, skill.skill_name]] ? vals[[skill.name, skill.skill_name]] += 1 : vals[[skill.name, skill.skill_name]] = 1 %>
        <% end %>
      <% end %>
      <% vals = vals.sort_by { |k, v| } %>
      <% vals.each do |skill, count| %>
        <tr>
          <td><%= skill[1] %></td><td><%= skill[0] %></td><td><%= count %></td>
        </tr>
      <% end %>
  </table>


       <table class='frogger-results-table incorrect-answers'>

      <tr>
        <th colspan='3'>Incorrect answers</th>
      </tr>
      <tr class='skill-header'>
      <td>Skill Type</td><td>Sub Skill</td><td>Count</td>
      </tr>
      <% vals = {} %>
      <% result.sub_skills.each do |skill| %>
        <% if skill.incorrect == 1 %>
            <% vals[[skill.name, skill.skill_name]] ? vals[[skill.name, skill.skill_name]] += 1 : vals[[skill.name, skill.skill_name]] = 1 %>
        <% end %>
      <% end %>

      <% vals = vals.sort_by { |k, v| } %>
      <% vals.each do |skill, count| %>
        <tr>
          <td><%= skill[1] %></td><td><%= skill[0] %></td><td><%= count %></td>
        </tr>
      <% end %>
  </table>


</div>

<% end %>

















<!--



<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>


<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<table id="datatable">
    <thead>
        <tr>
            <th></th>
            <th>Jane</th>
            <th>John</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Apples</th>
            <td>3</td>
            <td>4</td>
        </tr>
        <tr>
            <th>Pears</th>
            <td>2</td>
            <td>0</td>
        </tr>
        <tr>
            <th>Plums</th>
            <td>5</td>
            <td>11</td>
        </tr>
        <tr>
            <th>Bananas</th>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <th>Oranges</th>
            <td>2</td>
            <td>4</td>
        </tr>
    </tbody>
</table>

<script>$(function () {
    $('#container').highcharts({
        data: {
            table: 'datatable'
        },
        chart: {
            type: 'column'
        },
        title: {
            text: 'im louie'
        },
        yAxis: {
            allowDecimals: false,
            title: {
                text: 'Units'
            }
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.series.name + '</b><br/>' +
                    this.point.y + ' ' + this.point.name.toLowerCase();
            }
        }
    });
});</script>
 -->
